/* CASHBOOK APP */
/* Login Page Configuration */
.login-bg-ave {
	background-color: #F1D3B3;
}

.photo-login-ave {
	background-image: url("../img/curved9.jpg");
	background-size: cover;
}

.bg-btn-login-ave {
	background-color: #EF9A53 !important;
}

.app-logo {
    color: #E38B29;
}

.nameapp-ave {
	color: #E38B29;
}

.nameapp-ave:hover {
	color: #FFC090;
}

a.burger-btn {
	color:#E38B29;
}

a.sidebar-hide {
	color:#E38B29;
}

.sidebar-wrapper{
	width:270px;
	height:100vh;
	position:fixed;
	top:0;
	z-index:10;
	overflow-y:auto;
	background-color:#fff;
	bottom:0;
	transition:left .5s ease-out
}

.sidebar-wrapper .menu .sidebar-link i, .sidebar-wrapper .menu .sidebar-link svg {
    color: #E38B29;
}

.bg-sidebar-ave {
	background-color: #FFD8A9;
}

.sidebar-wrapper .menu .sidebar-item.active .sidebar-link {
    background-color: #E38B29;
}

.bg-main {
	background-color: #FDEEDC;
}

.bg-foot-ave {
	/* background-color: #FFF5E1; */
	background-color: #FDEEDC;
}

.ave-bg-th {
    /* background-color: #E6BA95; */
    background-color: #C0A080;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.alert-breadcrumb-ave {
	background-color: #FFD8A9;
}

.a-bread-ave{
	color: #E38B29;
}

.a-bread-ave:hover{
	color: #FFFFFF;
}

.bgmainalert {
	background-color: #DFD3C3;
	/* color: white; */
}

#main{
	margin-left:270px;
	padding:1.5rem
}

.rugikas{
	background-color: #EB455F !important;
}

.labakas{
	background-color: #46C2CB !important;
}

/* END OF CASHBOOK APP */



/* .page-header {
	padding: 0;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	background-size: cover;
	background-position: 50%;
	background-image: url("../img/curved8.jpg");
} */
  
.page-header .container {
	z-index: 1;
}

.bg-gradient-dark {
	background-image: linear-gradient(310deg, #212229 0%, #212529 100%);
}

/* Makes the animation pause on hover */
/* .moving-text-ave:hover{
	animation-play-state: paused;
} */

/* The animation */
/* @keyframes marquee{
	0%{transform: translateX(100%);}
	100%{transform: translateX(-100%);}
} */

 /* media query to enable animation for only those who want it */
/* @media (prefers-reduced-motion: no-preference) {
	.moving-text-ave{
		width: 80%;
		display: inline-flex;
		animation: marquee 7s linear infinite;
	}
} */

/* Until this line. */
.bg-alphlib {
    background-color: #0A2647;
}

.bg-main-alphlib {
    background-color: #EEF1FF;
}

.sb-sidenav-dark {
    background-color: #144272;
    color: rgba(255, 255, 255, 0.5);
}

.sb-topnav .navbar-brand {
    width: 152px;
    margin: 0;
}

.sb-sidenav-dark .sb-sidenav-footer {
    background-color: #1C315E;
}

.fa-book {
    color: aliceblue;
}

.head-no {
    max-width: 40px;
}

.head-aksi-klas {
    max-width: 75px;
}

.head-aksi {
    min-width: 100px;
}

/* Profile Card Layout for USER */
.bg-jumbotron-ave {
    background-color: #F5D5AE;
}

.usr-card {
	display: grid;
	/* grid-template-rows: 2rem 3rem 3rem 3rem 3rem 3rem 1fr; */
	grid-template-rows: 2rem 3rem 3rem 3rem 3rem 1fr;
	grid-template-columns: 1fr;
}

.usr-banner {
	grid-row: 1 / 5; /*<default>First line to third line*/
	grid-column: 1 / -1; /*<default>First line to last line*/
}

.usr-banner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.usr-display-picture {
	grid-row: 3 / 6;
	grid-column: 1 / -1;
	padding: 0 24px;
	z-index: 1; /*<default>To place this on top of the banner*/
}

.usr-display-picture img {
	height: 100%;
	aspect-ratio: 1 / 1; /*<default>So that width = height*/
	border-radius: 50%; /*<default>To create a circle*/
}

.usr-content {
	/* grid-row: 6 / 8; */
	grid-row: 5 / 7;
	grid-column: 1 / -1;
	padding: 20px 40px 24px 40px; /*top, right, bottom, left*/
}